
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding-top: 100px;
    padding-bottom: 50px;    
}

.loginForms,
.resultUsersList {
    background-color: #fff;
}

.listUsersCards {
    font-weight: bold;
}

.cardLogin {
    display: flex;
    background-color: #f8f9fa;
    justify-content: center;
    align-items: center;
}

.header,
.cardLogin, 
.loginForms,
.resultLoginFalse,
.resultLoginTrue,
.resultUsersList,
button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resultLoginFalse, 
.resultLoginTrue,
.resultSumAges,
.resultUsersList {
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 5px;
}

.resultLoginFalse {
    background-color: red;
}

.resultLoginTrue {
    background-color: green;
}

.resultLoginFalse,
.resultLoginTrue {
    color: white;
}

.cardLogin,
.resultLoginFalse, 
.resultLoginTrue,
.resultSumAges,
.resultUsersList {
    border-radius: 5px;
}
