
body {
    padding-top: 15%;    
}

body, .loginForms {
    background-color: #fff;
}

.cardLogin {
    display: flex;
    background-color: #f8f9fa;
    /* border-radius: 15px; */
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.cardLogin/*, 
.loginForms*/ {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resultLoginFalse, 
.resultLoginTrue {
    justify-content: center;
    margin-top: 3rem;
}

.resultLoginFalse {
    color: red;
}

.resultLoginTrue {
    color: green;
}
